
// 定义颜色 color
$colors:(
	"primary":#2172EE,
	"danger":#FF6E54,
	"success":#FFA200,
	"orange":#E9BB8D,
	"orange-1":#FF9A6C,
	"red":#FF373A,
	"blue":#00E4FF,
	"blue-1":#00FFCC,
	"gray":#C8C8C8,
	"gray-1":#58585C,
	"gray-2":#58585C,
	"gray-3":#999,
	"gray-4":#666666,
	"black-1":#111111,
	"black-2":#222222,
	"white":#ffffff,
	"light-1":#eee,
);

// border 
$border-color:map-get($colors, 'light-1');
// 定义字体大小 font-size 
$base-font-size:.5rem;
$font-sizes:( 
	"xxs":0.2,
	"xs":0.4, 
	"sm":0.6, 
	"md":0.8, 
	"lg":1,
	"xl":1.2,
);

$flex-jc:(start:flex-start,
	end:flex-end,
	center:center,
	between:space-between,
	around:space-around,
);



$flex-ai:(start:flex-start,
	end:flex-end,
	center:center,
	stretch:stretch,
);


// 定义边距相关
$spaceing-types:(m:margin,
	p:padding,
);
$spaceing-directions:(t:top,
	r:right,
	b:bottom,
	l:left,
);
$spaceing-base-size:.4rem;
$spaceing-sizes:(0:0,
	1: 0.25,
	2:0.5,
	3:1,
	4:1.5,
	5:3);






